#JustToBlurinPostVomit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-color:transparent;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
  }

  #MakeAPostPopUp{
    height: 400px;
    width: 450px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }


  #closeSection{
    height: 40px;
    margin-left: 410px;
    margin-top: 2px;
  }


  #textToPost{
    height: 200px;
    width: 400px;
    border-color: transparent;
    background-color: #80808052;
    resize: none;
    outline: none;
    border-radius: 2px;
    color: white;
    font-family: Calibri;
    font-size: 15px;
    padding: 5px 5px;
    margin-top: 20px;
  }

  #characCount{
    /* border: 1px solid red; */
    margin-top: 3px;
    height: 25px;
    width: 100%;
    color: white;
    font-family: Calibri;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 30px;
  }




  #photosAndEmojiSendButton{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right:23px ;
  }


  #photosAndEmojiSendButton button {
    height: 30px;
    width: 120px;
    border-color: transparent;
    border-radius: 4px;
    background-color: rgb(0, 238, 255);
    font-family: Heebo, sans-serif;
    cursor: pointer;
    font-weight: bold;
  }
  
  #photosAndEmojiSendButton button:hover{
    background-color: rgb(2, 164, 175);
  }

  #MakeAPostPopUp hr{
    width: 400px;
    margin-top: 10px;
  }


  #Backenderror{
    color: white;
    margin-top: 10px;
    font-family: Calibri;
  }