
#LoginSignUp{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(255, 255, 255); */
    gap: 20px;
}


#Register{
    height: 500px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 8px;
    position: relative;
}


#SignIn{
    height: 500px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 8px;
    position: relative;
}

#hrbetweenSignUpAndSignIn{
    height: 200px;
    border-color: rgba(255, 255, 255, 0.193);
}



#RegiterForm{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


#RegiterForm h2{
    font-size: 30px;
    font-family: Calibri;
    margin-top: 80px;
    margin-bottom: 30px;
}

#RegiterForm input{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.762);
    padding: 10px ;
    color: white;
    font-family: Calibri;
}



#signupbtn{
    margin-top: 35px;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border: none;
    font-family: Calibri;
    font-weight: bold;
}

#errorMessageSignUpMail{
    margin-top: 5px;
    font-family: Calibri;
}







#LoginForm{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


#LoginForm h2{
    font-size: 30px;
    font-family: Calibri;
    margin-top: 80px;
    margin-bottom: 38px;
}

#LoginForm input{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.762);
    padding: 10px ;
    color: white;
    font-family: Calibri;
}


#forgotPass{
    margin-top: 20px;
    font-size: 14px;
    font-family: Calibri;
    cursor: pointer;
}



#LogInBtn{
    margin-top: 45px;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border: none;
    font-family: Calibri;
    font-weight: bold;
}

#errorMessageLoginMail{
    margin-top: 8px;
    font-family: Calibri;
}


#RegisterClickable{
    height: 100%;
    width: 100%;
    background-color: rgb(213, 213, 213);
    position: absolute;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
    gap: 10px;
}

#RegisterClickable h2{
    letter-spacing: 2px;
}



#LogInClICKABLE{
    height: 100%;
    width: 100%;
    background-color: rgb(213, 213, 213);
    position: absolute;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
    gap: 10px;
}

#LogInClICKABLE h2{
    letter-spacing: 2px;
}  

#errorText{
    margin-top: 10px;
    font-family: Calibri;
    color: red;
}

#errorTextSignIn{
    margin-top: 10px;
    font-family: Calibri;
    color: red;

}